:root {
  --primary-green: #1f4223;
  --secondary-green: #739d75;
  --light-green: #adb4a9;
  --transparent: rgba(255, 255, 255, 0.2);
  --pink-color: #f0ccf3;
  --gradient-green: linear-gradient(
    180deg,
    rgb(15, 45, 36) 8%,
    rgb(22, 73, 59) 15%,
    rgb(29, 100, 82) 22%,
    rgb(36, 128, 105) 29%,
    rgb(43, 155, 128) 36%,
    rgb(50, 182, 151) 43%,
    rgb(57, 209, 174) 50%,
    rgb(50, 175, 210) 64%,
    rgb(71, 163, 210) 71%,
    rgb(134, 78, 223) 78%,
    rgb(131, 86, 228) 85%,
    rgb(89, 35, 215) 93%
  );
  --gradient-black: linear-gradient(
    143deg,
    rgb(7, 7, 7) 0%,
    rgb(7, 7, 7) 34%,
    rgb(23, 2, 58) 51%,
    rgb(26, 3, 5) 76%,
    rgb(1, 44, 2) 100%
  );

  --title-font: "Sofadi One", cursive;
  --text-font: "Barlow Semi Condensed", sans-serif;
}

.grid-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}
.section-1 {
  width: 90%;
  border: 3px solid var(--light-green);
  border-radius: 10%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
.about-center {
  padding: 70px;
  background: var(--gradient-black);
  margin: 0 auto;
  border-radius: 10%;
}
.section-1 .col-1 {
  width: 100%;
}
.section-1 img {
  border-radius: 10%;
  width: 300px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.section-1 .col-2 {
  width: 100%;
  padding: 20px 50px 20px 20px;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}
.section-1 .title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.grid-development {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.grid-development img {
  max-width: 200px;
}
.gallery .title {
  font-size: 60px;
  text-align: center;
  margin: 40px 0px;
}
.gallery p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}
.grid-gallery {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.grid-gallery img {
  max-width: 200px;
  border-radius: 10%;
}
