body {
  background: linear-gradient(
    218deg,
    rgb(45, 149, 121) 0%,
    rgb(13, 13, 13) 100%
  );
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/leaves.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  text-align: center;
  color: white;
  padding: 100px 40px;
  margin: 0 auto;
  width: 1200px;
}
h1 {
  font-size: 80px;
  margin: 0px auto;
  color: white;
}
