:root {
  --primary-green: #1f4223;
  --secondary-green: #739d75;
  --light-green: #adb4a9;
  --transparent: rgba(255, 255, 255, 0.2);
  --pink-color: #f0ccf3;
  --gradient-green: linear-gradient(
    180deg,
    rgb(15, 45, 36) 8%,
    rgb(22, 73, 59) 15%,
    rgb(29, 100, 82) 22%,
    rgb(36, 128, 105) 29%,
    rgb(43, 155, 128) 36%,
    rgb(50, 182, 151) 43%,
    rgb(57, 209, 174) 50%,
    rgb(50, 175, 210) 64%,
    rgb(71, 163, 210) 71%,
    rgb(134, 78, 223) 78%,
    rgb(131, 86, 228) 85%,
    rgb(89, 35, 215) 93%
  );
  --gradient-black: linear-gradient(
    143deg,
    rgb(7, 7, 7) 0%,
    rgb(7, 7, 7) 34%,
    rgb(23, 2, 58) 51%,
    rgb(26, 3, 5) 76%,
    rgb(1, 44, 2) 100%
  );

  --title-font: "Sofadi One", cursive;
  --text-font: "Barlow Semi Condensed", sans-serif;
}
html {
  min-height: 100%;
}
body {
  font-family: var(--text-font);
  color: white;
  background: var(--gradient-black);
}
.title {
  font-family: var(--title-font);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/lizard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  text-align: center;
  color: white;
  padding: 200px 0px;
  border-radius: 0% 0% 10% 10%;
}

header h1 {
  font-size: 90px;
  margin-bottom: 20px;
  color: var(--pink-color);
}
header h2 {
  font-size: 30px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 60px;
}
header a {
  font-family: var(--title-font);
  font-size: 25px;
  color: var(--secondary-green);
  letter-spacing: 6px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
header a:hover {
  font-size: 30px;
}
.navbar {
  background: var(--gradient-black);
  position: fixed;
  width: 100%;
}
.nav-link,
.navbar-brand {
  color: white;
  border: 1px solid var(--secondary-green);
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  font-family: var(--title-font);
  border-radius: 30%;
}
.navbar-toggler-icon {
  color: white;
}
.menuBrand {
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  font-family: var(--title-font);
}
.forMenu {
  padding: 45px;
}
footer {
  font-size: 15px;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.map,
.info,
.facebook {
  width: 100%;
}
